<style>
    :root {
      --ion-safe-area-top: 20px;
      --ion-safe-area-bottom: 22px;
    }
  </style>
<ion-header translucent>
    <ion-toolbar>
      <ion-title>Education</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-list>
      <ion-list-header>
        List Of Providers
      </ion-list-header>
    <ion-item>
      <ion-label>
        Select Subject
      </ion-label>
      <ion-select placeholder="Subject" interface="action-sheet" [(ngModel)]="Subject" (ionChange)="showSelectedSubject(Subject)">
        <ion-select-option value="Math">
          Math
        </ion-select-option>
        <ion-select-option value="English">
          English
        </ion-select-option>
        <ion-select-option value="Filipino">
          Filipino
        </ion-select-option>
        <ion-select-option value="Makabayan">
          Makabayan
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="showProfMath">

      <ion-item *ngFor="let teacher of arrayTeacher; let idx = index;">
        <ion-avatar slot="start">
          <img src="{{arrayTeacher[idx].ProfilePicture}}">
        </ion-avatar>
        <ion-label>
          <h2>Name: {{arrayTeacher[idx].name}}</h2>
          <h3>Occupation: Teacher</h3>
          <h3>Hourly Rate:<ion-icon name="cash"></ion-icon>{{arrayTeacher[idx].rateperhour}} </h3>
          <p>Rating: <ion-icon *ngFor="let count of arrayTeacher" name="star"></ion-icon></p>
        <button style="background-color:white;color: blue" (click)="showAlert()" clear>More Info</button>
        <div *ngIf="information">
          <p>Contact : {{arrayTeacher[idx].ContactNo}}</p>
          <p>{{arrayTeacher[idx].Certificate1}} - {{arrayTeacher[idx].SerialCertificate1}}</p>
          <p>{{arrayTeacher[idx].Certificate2}} - {{arrayTeacher[idx].SerialCertificate2}}</p>
          <p>{{arrayTeacher[idx].Certificate3}} - {{arrayTeacher[idx].SerialCertificate3}}</p>
          <p> Tesda Category - {{arrayTeacher[idx].TesdaCategory}}</p>
          <p> Expertise - {{arrayTeacher[idx].Skills}}</p>
        </div>
        <p>Status: </p><p style="color:red" *ngIf="arrayTeacher[idx].status=='Pending'">{{arrayTeacher[idx].status}}</p>
        <p style="color:green" *ngIf="arrayTeacher[idx].status == 'Online'">{{arrayTeacher[idx].status}}</p>
        <ion-button (click)="hireButton()">Hire</ion-button>
        </ion-label>
      </ion-item>

    </div>
    <div *ngIf="showProfJoed">
      <ion-item>
          <ion-avatar slot="start">
            <img src="assets/img/joed.jpeg">
          </ion-avatar>
          <ion-label>
            <h2>Name: Joed Lopez</h2>
            <h3>Occupation: Teacher</h3>
            <h3>Rate:<ion-icon name="cash"></ion-icon> P10,000</h3>
            <p>Rating: <ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon><ion-icon name="star-outline"></ion-icon></p>
            <p style="color: blue" (click)="showAlert()">More Info</p>
            <p>Status: </p><p style="color:red" *ngIf="userJoed.status=='Pending'">{{userJoed.status}}</p>
            <p style="color:green" *ngIf="userJoed.status == 'Available'">{{userJoed.status}}</p>
            <ion-button (click)="hireJoed()">Hire</ion-button>
          </ion-label>
        </ion-item>
        </div>
    </ion-list>
  </ion-content>