<!-- <ion-header>
  <ion-toolbar>
    <ion-title>serviceprovider</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id='map'></div>

</ion-content> -->
  <ion-menu-button  (click)="openCustom()"></ion-menu-button>
  <ion-menu side="start" menuId="custom" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Profile</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet main></ion-router-outlet>
