
<ion-content>
    <ion-input type="text" color="dark" inputmode="text" [(ngModel)]="search_address" id="search_address" ></ion-input>
    <ion-button id="searchbutton" (click)="searchDestination()">SEARCH</ion-button>
    <div id='map_canvas'></div>
</ion-content>
        <!-- <ion-footer>
            <div class="centers" [hidden]="isenabled">
                
                <ion-button (click)="confirmBooking()">CONFIRM</ion-button>
                <ion-button color="danger" (click)="cancelBooking()">CANCEL</ion-button>
            </div>
            <ion-button [hidden]="isenabledbook" color="success" expand="block" (click)="booknow()">BOOK NOW</ion-button>
            <ion-button [hidden]="viewDrivers" color="success" expand="block" (click)="presentModal()">VIEW DRIVER</ion-button>

            <ion-button name="back" id="back" color="tertiary" expand="block" (click)="push()">BACK</ion-button>
        </ion-footer> -->