
<ion-content>

        <!-- <div id="map" style="width:100%; height:100%;"></div> -->
        <div id='map'></div>
        </ion-content>
        <ion-footer>
            <div class="centers" [hidden]="isenabled">
                
                <ion-button (click)="confirmBooking()">CONFIRM</ion-button>
                <ion-button color="danger" (click)="cancelBooking()">CANCEL</ion-button>
            </div>
            <ion-button [hidden]="isenabledbook" color="success" expand="block" (click)="booknow()">BOOK NOW</ion-button>
            <ion-button [hidden]="viewDrivers" color="success" expand="block" (click)="presentModal()">VIEW DRIVER</ion-button>

            <ion-button name="back" id="back" color="tertiary" expand="block" (click)="push()">BACK</ion-button>
        </ion-footer>