<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col>
          <ion-img src="/assets/img/logo.png" style="height: 150px; width:150px; margin:auto;"></ion-img>
          <p class="description2" style="color: white">Login</p>
        </ion-col>
      </ion-row>
    
    <br/>
      <p class="description2">Use your mobile number to continue</p>
      <br>
      <ion-item style="border-radius: 15px;">
          <ion-card style="margin-left: 2px;"> 
          <ion-card-content style="color: black">
            <ion-img src="/assets/icon/phico.png" style="width: 20px; height:20px; position: absolute;"></ion-img>
              <p style="margin-left: 25px;">+63</p>
          </ion-card-content>
        </ion-card>
          <ion-input color="dark" placeholder="9270444860" inputmode="numeric" maxlength="11"></ion-input>
        <ion-button routerLink="/registration"><ion-icon name="arrow-round-forward"></ion-icon></ion-button>
        <ion-button color="tertiary" [(ngModel)]="_checkPhone" (click)="getValidation()">USE MOBILE NO</ion-button>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button class="log-fb-button" color="primary" expand="block">
            LOG IN WITH FACEBOOK
            <ion-icon name="logo-facebook" style="margin-left: 10px"></ion-icon>
          </ion-button> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="log-google-button" color="danger" expand="block" >
            LOG IN WITH GOOGLE
            <ion-icon name="logo-googleplus" style="margin-left: 10px"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
</ion-content>
