.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.centers{
  margin:auto;
  text-align: center;
}
.login-content{
  --background: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
  .bg-class{
    height: 100%;
    background: #673AB7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    //background-image: linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important
}
$colors: (
   blue:    #387ef5,
   secondary:  #32db64,
   danger:     #f53d3d,
   light:      #f4f4f4,  
   dark:          #222 
);

#map { 
  position:absolute; top:0; bottom:0; width:100%; 
}