<ion-header>
  <ion-toolbar>
    <ion-title>Nearby Seeker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
          List Of Seekers
        </ion-list-header>
    <ion-item *ngFor="let seeker of arraySeeker; let idx = index;">
        <ion-avatar slot="start">
          <img src="{{arraySeeker[idx].profilepicture}}">
        </ion-avatar>
        <ion-label>
          <h2>Name: {{arraySeeker[idx].fullname}}</h2>
          <h3>Contact No:<ion-icon name="call"></ion-icon> {{arraySeeker[idx].contactno}}</h3>
          <h3>Address:<ion-icon name="home"></ion-icon> {{arraySeeker[idx].address}} </h3>
          <p>Location:<ion-icon name="pin"></ion-icon> {{arraySeeker[idx].latitude}}, {{arraySeeker[idx].longitude}}</p>
       
        <ion-button (click)="dismiss()">Accept</ion-button>
        </ion-label>
      </ion-item>
    </ion-list>

</ion-content>
