<ion-header style="background-color:black;">
    <ion-toolbar [color]="dynamicColor">
    <ion-title style="color: white;">
      User Account
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-class" padding>
    <ion-avatar>
        <img src="/assets/images/profilepic.jpg" style="width:100%; height: 100%;">
      </ion-avatar>
      <ion-label>Jun Ben T. Enriquez</ion-label>
    <div *ngIf="hideOnline">
      <ion-chip>
        <ion-avatar>
          <img src="/assets/images/online.jpg">
        </ion-avatar>
        <ion-label>Online</ion-label>
      </ion-chip>
    </div>
    <div *ngIf="hideOffline">
      <ion-chip>
        <ion-avatar>
          <img src="/assets/images/offline.jpg">
        </ion-avatar>
        <ion-label>Offline</ion-label>
      </ion-chip>
    </div>
    <div *ngIf="hideBusy">
      <ion-chip>
        <ion-avatar>
            <img src="/assets/images/busy.jpg">
        </ion-avatar>
        <ion-label>Busy</ion-label>
      </ion-chip>
    </div>
      
  <ion-card class="welcome-card">
  <ion-item (click)="logouts()">
      <ion-icon class="ion-md-time" name="log-out" slot="start"></ion-icon>
    <ion-label>Log out</ion-label>
    
  </ion-item>
</ion-card>

</ion-content>
    <ion-content *ngIf='userReady'>
        <ion-card>
          <ion-img [src]="user.picture"></ion-img>
          <ion-card-header>
            <ion-card-title>{{user.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{user.email}}</p>
          </ion-card-content>
          <!--<ion-button expand="block" (click)="doFbLogout()">Log Out FB</ion-button>
          <ion-button expand="block" (click)="doGoogleLogout()">Log Out Google</ion-button>-->
        </ion-card>
        <ion-card class="welcome-card">
          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Messages</ion-label>
            <ion-button fill="outline" slot="end" class="textBold">></ion-button>
          </ion-item>
      
          <ion-item>
            <ion-icon name="cog" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
            <ion-button fill="outline" slot="end" class="textBold">></ion-button>
          </ion-item>
    
        </ion-card>

        <ion-card class="welcome-card">
          <ion-item (click)="doFbLogout()">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
            <ion-button fill="outline" slot="end" class="textBold" routerLink="/">-></ion-button>
          </ion-item>
          </ion-card>
      </ion-content>
