<ion-header>
  <ion-toolbar>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card padding>
  
  <p>The ISerb Privacy Policy</p>
   <p>  ISerb respects your right to privacy.</p> 
   <p>   ISerb’s Privacy policy collates all the personal information that the company may collect, including how we may use these set of information, and other important details pertaining to the protection of the users or clients’ privacy and data protection.
      It is ISerb’s policy to comply with all applicable Philippine privacy and data protection laws.
      This commitment reflects the value we place on earning and keeping the trust of our clients, loyal and returning customers, business development stakeholders or partners and others who share their personal information with us.
      This Policy applies to all Internet sites and mobile applications operated by or on behalf of ISerb and includes other entities worldwide affiliated with ISerb.
      This also applies to personal information ISerb may otherwise collect:
     <p>(i) Through our products and services;</p> 
     <p> (ii) when you interact with us by means other than a ISerb Internet Site or App, i.e. in person, by telephone, or via other means of telecommunications; and</p>
     <p>  (iii) from our employees,third party investigators, and other business partners (collectively “Business Partners”).</p>
     <p> 
      1.	ISerb Privacy Policy </p>
      <p>ISerb is a mobile application software (“App”) available on the Google Play Store (“App”) which you have downloaded onto your mobile phone, cellphone or handheld device (Device).
      To the extent required by applicable law, whenever ISerb collects personal information, ISerb will:</p>
     <p> • Provide timely and appropriate notice to you about our data practices;</p>
     <p> • Collect your personal information only for specified and legitimate purposes;</p>
     <p> • The information we collect will be relevant, adequate and not excessive for the purposes for which it is collected;</p>
     <p> • Process your personal information in a manner consistent with the purposes for which it was originally collected or to which you have subsequently consented;</p>
     <p>• Take commercially reasonable steps to ensure that your personal information is reliable for its intended use, accurate, complete, and, where necessary, kept up-to-date;</p>
     <p>• Not use your personal information for direct marketing purposes without giving you an opportunity to “opt-out”; and</p>
     <p>• Take appropriate measures, by contract or otherwise, to provide adequate protection for personal information that is disclosed to a third party or transferred to another country, including transfers within ISerb;</p>
     <p>This Policy constitutes as an inseparable part of ISerb Credit Agreement.</p>
       
      <p>1.	Personal Information ISerb Collects</p>
      <p>ISerb collects the following types of personal information:</p>
      
      <p>1.	Information You Provide
          ISerb collects the personal information you provide us, which may include:</p>
      <p>1.	contact information, such as your name, company name, job title, address, e-mail address, and phone number;</p>
      <p>2.	additional information about you to help us get to know you better, such as your gender, age, date of birth, nationality, professional associations and registration numbers, information about how you use our products, and demographic information;</p>
      <p>3.	log-in information, including,</p>
      <p>4.	if applicable, social media account information for login purposes,</p>
      <p>5.	if applicable; information about your preferences, such as your preferred methods of communication and product types in which you are interested;</p>
      <p>6.	Comments, questions, requests, and orders you may make;</p>
       
      <p>It is understood that when you have submitted your information to ISerb, you are expressly consenting to the collection and processing of such information for whichever purpose it may serve under the agreement.</p>
       
      <p>Information Automatically Gathered from Your Device
      Device information. ISerb may collect technical information about your devices, such as device type, browser type, IP address, operating system, and device identifier.
      ISerb collects this information automatically from your device and web browser through cookies and similar technologies subject to your consent.
      Information about how you interact with us. ISerb may collect technical data about your usage of the ISerb App and how you interact with our digital advertisements and promotions.
      ISerb collects this information using cookies and similar technologies subject to your consent.
      Location information. ISerb may collect location information, including precise real-time location information from your device and imprecise location information derived from, for example, your IP address.
      ISerb Apps will NOT access precise-real time location information from your device unless you grant permission to do so.
      ISerb’s access to the location is for the protection of ISerb as our services are only rendered for those who are located in the Philippines.
      ISerb’s location access is limited for the purpose of granting the loan application and other allied services, if applicable.</p>
       
      <p>Information from Business Partners and other Third Parties
      <p>ISerb may collect personal information through our Business Partners.
      This information may include contact information, such as name, company name, job title, address, e-mail address, and phone number for verification and validation purposes.
      ISerb may also obtain personal information from other third-party sources, including publicly and commercially available sources.
      We may combine the information we receive from our Business Partners and other third-party sources with information that we collect from you or your device, as described above.</p>
       
      <p>1.	ISerb’s Usage of Personal Information</p>
      <p>ISerb may use your personal information to:</p>
      <p>Develop and manage our relationships with you and our Business Partners. This may include: (i) delivering services or carrying out transactions that you or our Business Partners have requested;</p>
      <p>(ii) Providing information about ISerb products, services, and transactions, and advertisements, that may be of interest to you;</p>
      <p>(iii) Providing you and our Business Partners a more consistent experience in interacting with ISerb, including by learning more about you and how you use and interact with ISerb Internet Sites, Apps, products, and services; and,</p>
      <p>(iv) Planning, managing, and performing under our contractual relationships with our Business Partners.</p>
       
      <p>Communicate with you. This may include:</p>
      <p>1.	informing you of ISerb products, services, and promotional activities that may be of interest to you;</p>
      <p>2.	providing information about relevant ISerb products, services, and transactions, including, for example, pricing, information about product or service improvements;</p>
      <p>3.	responding to questions or inquiries that you make, including customer service requests; and,</p>
      <p>4.	Inviting you to participate in, or informing you of the results of, customer satisfaction or market research surveys.</p>
      <p>Provide and improve our Internet Sites, Apps, products, and services. This may include:</p>
      <p>1.	customizing them to your preferences or interests, making them more compatible with your technology, or otherwise making them easier to use;</p>
      <p>2.	maintaining the security of and otherwise protecting them; and,</p>
      <p>3.	Developing new ISerb Internet Sites, Apps, products and services.</p>
      <p>Address legal issues. This may include:</p>
      <p>1.	complying with our obligations to retain certain business records for minimum retention periods;</p>
      <p>2.	establishing, exercising, or defending legal claims;</p>
      <p>3.	complying with laws, regulations, court orders, or another; or other legal process;</p>
      <p>4.	detecting, preventing, and responding to fraud, intellectual property infringement, violation of our contracts or agreements, violations of law, or other misuses of ISerb Internet Sites, Apps, products or services; and,</p>
      <p>5.	protecting ISerb’s rights or property, or yours or others’ health, safety, welfare, rights, or property.</p>
      <p>ISerb may also use your personal information for other uses consistent with the context in which the information was collected or with your consent.
      ISerb may anonymize or aggregate any of the information we collect and use it for any purpose, including for research and product-development purposes. Such information will not identify you individually.</p>
       
      <p>1.	Sharing of Personal Information</p>
      <p>ISerb will not disclose your personal information except as described here:</p>
      <p>•	ISerb may share your personal information with third parties we hire to perform support services for us such as but not limited to background investigation, and skip tracing among others.</p>
       
      <p>•	These third parties are required to use the personal information we share with them only to perform services on our behalf and to treat your personal information in compliance with all applicable privacy and data protection laws.</p>
       
      <p>•	In some cases, ISerb may share your personal information with third parties who partner with us to provide products and services to our customers.</p>
       
      <p>•	If so, we will require our Business Partners to use that information in a manner consistent with this Policy, any applicable Specific Privacy Statements, and all applicable privacy and data protection laws.</p>
       
      <p>•	ISerb may share your personal information with third parties when we have a good faith belief that disclosure is necessary:</p>
       
      <p>1.	to comply with a law, regulation, court order, or other legal processes;</p>
      <p>2.	to detect, prevent, and respond to fraud, intellectual property infringement, violation of our contracts or agreements, violation of the law, or another misuse of ISerb Internet Sites, Apps, products or services;</p>
      <p>3.	to protect ISerb rights or property or yours or others’ health, safety, welfare, rights, or property; or</p>
      <p>4.	Under similar circumstances. If such an event occurs, we will take appropriate steps to protect your personal information.</p>
       
      <p>•	ISerb may share your personal information with third parties in connection with the sale, purchase, merger, reorganization, liquidation or dissolution of ISerb or a ISerb business unit, or under similar circumstances.
       
      If such an event occurs, we will take appropriate steps to protect your personal information.</p>
     <p> •	ISerb may share your information with your permission or at your request.
      ISerb may share anonymized or aggregated information internally and with third parties for any purpose. Such information will not identify you individually.</p>
       
      <p>5. Security Safeguards</p>
      <p>Your personal information will generally be stored in ISerb databases maintained by our service providers.
      Many of these databases are stored on servers located in the Philippines. ISerb takes appropriate measures, by contract or otherwise, to provide adequate protection for personal information that is disclosed to a third party or transferred to another country, including transfers within ISerb.
      ISerb maintains reasonable safeguards to protect the confidentiality, security, and integrity of your personal information.
      Although we use security measures to help protect your personal information against unauthorized disclosure, misuse, or alteration, as is the case with all computer networks linked to the Internet, we cannot guarantee the security of information provided over the Internet and will not be responsible for breaches of security beyond our reasonable control.
      ISerb shall not be held accountable or legally liable for any data breach, misuse, disclosure or unlawful sharing due to the fault of its users’ failure to protect and secure their username and password or some other form of negligence.</p>
       
      <p>6. Revision of Privacy Policy</p>
      <p>Changes to this Privacy Policy will be posted on the ISerb website and app, along with information on any material changes.
      ISerb reserves the right to update or modify this Policy and any Specific Privacy Statements at any time and without prior notice.
      Any modifications will apply only to the personal information we may have collected and those we will collect after the posting.
      This Privacy Policy was last revised on August 2019.</p>

      <div>
          <div float-left class="my-checkbox">
            <ion-checkbox [(ngModel)]="ischeckedbox" (click)="onCheckeds()">
            </ion-checkbox>
            <ion-label class="agree_label" text-uppercase>&nbsp;&nbsp; I AGREE</ion-label>
          </div>
          
        </div>
        <br>
        <div *ngIf="continue">
        <ion-button float-right color="dark" (click)="ondismiss()">CONTINUE</ion-button>
      </div>
      
     
    </ion-card>

</ion-content>
