<ion-header>
  <ion-toolbar>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position='floating'>
      Username 
      </ion-label>
      <ion-input type="text" [(ngModel)]='username'>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position='floating'>
        Email
      </ion-label>
      <ion-input [(ngModel)]='email'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position='floating'>
        Password
      </ion-label>
      <ion-input [(ngModel)]="pwd" type="password">
      </ion-input>
    </ion-item>
    <br>
    <div text-center>
      <ion-button (click)="signup()">
        Signup
      </ion-button>
    </div>
    <br><br><br>
    <div text-center>
      <br>or<br>
      <ion-button (click)="goto_login()" fill="clear">Login</ion-button>
    </div>

</ion-content>
