<ion-content class="login-content bg-class" padding>
 
      <ion-slides  style="height: 100%">
        <ion-slide>
            <!-- <img id='gear' src='assets/img/gear1.png'>
            <img id='gear2' src='assets/img/gear1.png'>
            <img id='gear3' src='assets/img/gear1.png'>
           -->
            <img src="assets/img/logo.png">
          <h2 style="font-family: 'Trebuchet MS'; ">Welcome to <b>iSerb</b></h2>
          <p style=" font-family: 'Trebuchet MS'; "><b>iSerb </b>app helps you find a service you need near you!</p>
          <div style="position: absolute; width: 100%; bottom:0;">
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-icon name="radio-button-off"></ion-icon>
          <ion-icon name="radio-button-off"></ion-icon>
          <ion-icon name="radio-button-off"></ion-icon>
          <ion-icon name="radio-button-off"></ion-icon>
          </div>

     
        </ion-slide>
        
        <ion-slide>
            <img src="assets/img/slide-2.png">
          <h2 style=" font-family: 'Trebuchet MS';">Easy</h2>
          <p style=" font-family: 'Trebuchet MS';"><b>iSerb</b> is easy to use. Find services that you need in just few clicks!
            <div style="position: absolute;
            width:100%;
            bottom:0;">
            <ion-icon name="radio-button-on"></ion-icon>
            <ion-icon name="radio-button-on"></ion-icon>
            <ion-icon name="radio-button-off"></ion-icon>
            <ion-icon name="radio-button-off"></ion-icon>
            <ion-icon name="radio-button-off"></ion-icon>
          </div>
        </ion-slide>
        <ion-slide>
            <img src="assets/img/slide-3.png">
          <h2 style=" font-family: 'Trebuchet MS';">Fast</h2>
          <p style=" font-family: 'Trebuchet MS';"><b>iSerb</b> provides fast service. Get the service you need in no time!</p>
          <div style="position: absolute;
          width:100%;
          bottom:0;">
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-icon name="radio-button-off"></ion-icon>
          <ion-icon name="radio-button-off"></ion-icon>
        </div>

        </ion-slide>
        <ion-slide>
            <img src="assets/img/reliable.png">
          <h2 style=" font-family: 'Trebuchet MS';">Reliable</h2>
          <p style=" font-family: 'Trebuchet MS';"><b>iSerb</b> provides reliable service. Get the service you need from the best people in your area!</p>
          <div style="position: absolute;
          width:100%;
          bottom:0;">
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-icon name="radio-button-off"></ion-icon>
        </div>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/ready.png">
          <h2 style=" font-family: 'Trebuchet MS';">Ready to Use?</h2>
          <ion-button  href="/home" color="success">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          <div style="position: absolute;
          width:100%;
          bottom:0;">
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-icon name="radio-button-on"></ion-icon>
          <ion-icon name="radio-button-on"></ion-icon>
        </div>
        </ion-slide>
      </ion-slides>

    </ion-content>
   


