.textCenter{
    text-align: center;
    color:white;
}
.textBold{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color:black;
}
.ion-md-time{
	color:#2989d8 !important;
}
.welcome-height{
    height: 200px;
}
$colors: (
   blue:    #387ef5,
   secondary:  #32db64,
   danger:     #f53d3d,
   light:      #f4f4f4,  
   dark:          #222 
);
.bg-class{
    --background: #2989d8; /* Old browsers */
    --background: -moz-linear-gradient(top, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    --background: -webkit-linear-gradient(top, #2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    --background: linear-gradient(to bottom, #2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
