<ion-header>
  <ion-toolbar>
    <ion-title>provider-apply</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/joed.jpeg">
        </ion-avatar>
        <ion-label>
          <h2>Name: Joed Lopez</h2>
          <h3>Looking for: Teacher</h3>
          <h3>Offer:<ion-icon name="cash"></ion-icon> P10,000</h3>
          <p>Location: <ion-icon name="pin"></ion-icon>Malabon City</p>
          
          <ion-button >Apply</ion-button>
        </ion-label>
      </ion-item>

</ion-content>
